div(style="display:block;")
    p
        strong=email.sender
        small=email.timestamp
    p
        small=email.sender_email
    p
        small=email.receiver_email

iframe(srcdoc!=email.body style="width:100%;overflow-y:scroll;")