doctype html
html(lang="en")
    head
        title="TorrentofMail"
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script.
            $
    body
        h1="TorrentofMail"

        h2="Login"
        form(method="post", target="_self")
            input(id="email", name="email", type="email", placeholder="Email *", required)
            input(id="password", name="password", type="password", placeholder="password *", required)
            |
            input(id="Login", type="submit", value="Login")
        unless (alert === undefined)
            small(style="color:red;")=`${alert}`
