mixin item(mailobj)
    include mailboxitem.pug

div(style="margin:10px;")
    strong=mailtitle
    i(class="fas fa-angle-left" style="float:right;")
ul(class="maildisp sidebarlist")
    each mobj in mailobjlst
        +item(mobj)

script(src="/js/maillist.js")