- const icon = "https://images.cloudflareapps.com/qbHxl8JuyHHG/Simons_Seal%20-Trans-GO_WI.png";


doctype html
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(property="og:type", content="website")
    meta(name="url", property="og:url", content="http://localhost/")
    meta(property="og:image", content=icon)
    meta(property="og:title", content="TorrentofMail")
    link(rel="shortcut apple-touch-icon icon", href=icon)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://kit.fontawesome.com/14f7469584.js", crossorigin="anonymous")
    script(src="/js/mailbox.js")
    title=`Inbox | ${usrname}`
    link(rel="stylesheet", href="/stylesheets/css/mailbox.css")
    link(rel="stylesheet", href="/stylesheets/css/inbox.css")
html(lang="en")
    body
        header(style="padding:0")
            ul(class="hheadbar")
                li
                    div(id="mainmenu" title="Main Menu")
                        i(class="fas fa-bars fa-2x")
                li
                    a(id="branding" href="#")
                        img(src=icon, style="width:48px;height:48px;")
        div(class="flex-container")
            aside(class="main sidebar" aria-expanded="false")
                div(id="spacer")
                include mainsidebar.pug
            aside(class="maildisp sidebar" aria-hidden="true" )
            |
            main
            |
        footer
            p!="&copy; 2020 - Simon Weizman"
