li(id=mailobj.id class="maildisp sbli" data-selected="false")
    div(class="mailsblabel")
        strong=mailobj.sender
        small(style="float:right;")=mailobj.timestamp
        div(style="clear:both;")
            strong=mailobj.subject
            small=mailobj.peek