ul(class="main sidebarlist")
    li(class="main sbli" data-selected="false")
        div(class="sblabel" title="Inbox")
            i(class="fas fa-envelope-open-text fa-lg" data-fa-transform="down-2")
    li(class="main sbli" data-selected="false")
        div(class="sblabel" title="Starred")
            i(class="fas fa-star fa-lg")
    li(class="main sbli" data-selected="false")
        div(class="sblabel" title="Drafts")
            i(class="fas fa-file-alt fa-lg" data-fa-transform="right-2")
    li(class="main sbli" data-selected="false")
        div(class="sblabel" title="Sent")
            i(class="fas fa-paper-plane fa-lg")
    li(class="main sbli" data-selected="false")
        div(class="sblabel" title="Trash")
            i(class="fas fa-trash-alt fa-lg")
    li(class="main sbli" data-selected="false")
        div(class="sblabel" title="Spam")
            i(class="fas fa-radiation fa-lg")
    li(style="cursor:default;")
        div(class="sbsep")
            i(class="fas fa-grip-lines fa-lg")
    li(class="main sbli" data-selected="false")
        div(class="sblabel settings" title="Settings")
            i(class="fas fa-cog fa-lg")