@import "fonts";

html {
  position: relative;
  max-height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  background-color: #3C3F41;
  width:100%;
  height: 8vh;
  flex: 1 100%;
  border-bottom: solid rgba(43, 43, 43, 0.5);
  margin:0;
  padding: 0;
}

.hheadbar, .sidebarlist {
  list-style-type:none;
  margin:0;
  padding: 0 0 0 0;
}

.hheadbar {
  position:relative;
  overflow: hidden;
  width: 100%;
}

.hheadbar > li {
  float: left;
  padding-left: 10px;
}

#mainmenu, #branding {
  display: block;
  text-align: center;
}

#mainmenu {
  padding: 0.5em 0 0 0;
  cursor: pointer;
}

#branding::after {
  content: "TorrentofMail";
  position: absolute;
  top: 6px;
  height: 48px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  @include font_0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  height:100%;
}

.flex-container > * {
  padding: 10px;
}

.sidebar {
  background-color: #3C3F41;
  border-right: solid rgba(43, 43, 43, 0.5);
  padding: 0;
}

.main.sidebar {
  width: 2em;
  order: 1;
}

#spacer {
  margin: 10px;
}

.maildisp.sidebar {
  display: none;
  width: 10em;
  order: 1;
  color:lightgrey;
}

.sidebarlist {
  padding: 1em 0 0 0;
}

.maildisp.sidebarlist {
  font-size: x-small;
}

.maildisp.sidebarlist > li > div {
  margin-left: 10px;
  margin-right: 10px;
}

.sidebarlist > li {
  cursor: pointer;
  padding-bottom: 0.75em;
}

.sblabel, .sbsep {
  height: 1.5em;
  width: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.5em;
}

.sblabel > span {
  position: absolute;
}

.sbli:hover {
  background-color: slategray;
}

.sbli[data-selected = "true"] {
  background-color: slategray;
}

main {
  z-index: 1;
  text-align: left;
  background-color: #2B2B2B;
  flex: 3;
  order: 2;
}

main, .sidebar {
  height:87vh;
}

footer {
  z-index: 1;
  height: 5vh;
  border-top: solid rgba(43, 43, 43, 0.5);
  width: 100%;
  background-color: #3C3F41;
  text-align: center;
  order: 4;
  flex: 1 100%;
}

footer > p {padding: 5px}
